:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: 'Playfair Display', sans-serif;
  --default-font-family: 'Poppins', sans-serif;
}

.photo img {
  border-radius: 20px !important;
}

.logo {
  font-size: 40px;
}

nav {
  padding: 30px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--default-font-family);
  margin-right: 30px;
  color: #000;
  transition: all 200ms ease-in-out;
}

nav li.active a {
  color: rgb(12, 189, 243);
}

nav li a:hover {
  text-decoration: underline;
  color: rgb(12, 189, 243);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

.content h2 {
  font-size: 64px;
  line-height: 86px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 0;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  color: #272142;
}

.content-container {
  padding: 160px 0;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container p {
  font-size: 16px;
  font-weight: normal;
}

.content {
  margin: 30px;
}

/* .content .heading {
  font-size: 64px;
} */

.content h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
  font-weight: regular;
  font-family: var(--default-font-family);
}

.btn-branding {
  background-color: var(--branding-color);
  color: #fff;
  border-radius: 4px;
  padding: 18px 30px;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-container {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  .content {
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 40px;
    line-height: 2;
  }

  h2 {
    font-size: 24px;
  }

  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .content-container h1 {
    font-size: 44px;
    line-height: 80px;
  }

  .logo {
    font-size: 20px;
  }

  nav ul li a {
    font-size: 14px;
  }
}
